.Header-background{
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Header-Benefit{
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  box-sizing: border-box;
}

.Header-Benefit-Content{
  flex-basis: 65%;
  max-width: 65%;
  padding-top: 10px!important;
  padding-left  : 10px!important;
  padding-right : 10px!important;
  padding-bottom: 10px!important;
}

.Header-Benefit div:not(.Header-Benefit-Content){
  padding:0px!important;
}

.Header-Benefit-Image{
  display: flex;
  justify-content: center;
  flex-basis: 30%;
  max-width: 30%;
  -webkit-box-flex:0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: .5rem;
  padding-right:.5rem;
}

.Header-Benefit-Image img{
  max-width: 100%;
}

.Header-ilustration{
  position: absolute;
  z-index: 0;
  top: 16px;
  margin-left: 300px;
  height: 300px;
}

.Header-main{
  margin-bottom: -2em;
  margin-left: -400px;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
