.Header-background{
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Header-Benefit{
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  box-sizing: border-box;
  overflow: hidden;
}

.Header-Benefit-Content{
  flex-basis: 60%;
  max-width: 60%;
  padding-top: 10px!important;
  padding-left  : 10px!important;
  padding-right : 10px!important;
  padding-bottom: 10px!important;
}

.Header-Benefit div:not(.Header-Benefit-Content){
  padding:0px!important;
}

.Header-Benefit-Image{
  height: 120px;
  display: flex;
  justify-content: center;
  flex-basis: 30%;
  max-width: 30%;
  -webkit-box-flex:0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: .5rem;
  padding-right:.5rem;
}

.Header-Benefit-Image img{
  max-width: 80%;
}

.Header-ilustration{
  position: absolute;
  z-index: 0;
  top: 26px;
  margin-left: 300px;
  height: 300px;
}
.Header-main{
  margin-bottom: -2em;
  margin-left: -400px;
}
.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;

  box-shadow: 3px 3px 55px black;
}
.elevate:hover{
  transform: scale(1.2);
  transition: all 300ms;
  z-index: 999;
}
.elevate{
  transition: all 300ms;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
